body {
  background-color: #fcfcfc;
}

.overlays {
  background: url(../assets/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px auto;
  height: 576px;
  width: 1024px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}

.player-controls {
  text-align: center;
}

.title {
  font-size: 30px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Overlays */

.left-team-box {
  /* fill: #db251e; */
}

.left-team-text {
  /* fill: white; */
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

.score-text {
  /* fill: white; */
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

.right-team-box {
  /* fill: white; */
}

.right-team-text {
  /* fill: #164d3a; */
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

.left-box-strip {
  /* fill: #df3f3a; */
}
.right-box-strip {
  /* fill: #e6e4e6; */
}

.red-cards-text {
  /* fill: #b1d6e3; */
  font-family: Tahoma, sans-serif;
}

.state-controls {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.state-controls input {
  margin: 20px 10px 10px 5px;
  padding: 10px;
}

.state-controls select {
  margin: 20px 10px 10px 5px;
  height: 35px;
}

.props-input {
  text-transform: uppercase;
}
