body {
  background-color: #fcfcfc;
}

.overlays {
  background: url(../assets/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px auto;
  height: 576px;
  width: 1024px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}

.player-controls {
  text-align: center;
}

.logo {
  vertical-align: top;
}

.SVG {
  width: 889px;
  height: auto;
}

.title {
  font-size: 30px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Overlays */

.score-text {
  fill: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}
